log/
tmp/
.bundle/
.idea/
sqlnet.log
config/database.yml
vendor/plugins/bcsec_authenticatable/config/environments/bcsec_test.yml
vendor/plugins/bcsec_authenticatable/config/environments/bcsec_development.yml
config/Constants.rb
public/plugin_assets/
public/files/
surveys/fixtures/
vendor/plugins/nucs/config/database.yml
.tmp
*~
.*~
.rvmrc
