log/
tmp/
.bundle/
.idea/
.rvmrc
sqlnet.log
config/database.yml
vendor/engines/nucs/Gemfile
vendor/engines/nucs/Gemfile.lock
vendor/engines/nucs/config/database.yml
vendor/plugins/bcsec_authenticatable/config/environments/bcsec_test.yml
vendor/plugins/bcsec_authenticatable/config/environments/bcsec_development.yml
config/Constants.rb
public/plugin_assets/
public/files/
surveys/fixtures/
vendor/bundle
vendor/plugins/nucs/config/database.yml
vendor/plugins/nucs/vendor
.tmp
*~
.*~
*.swp
